<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ book.name|e }}</td>
                        <td>{{ book.author|e }}</td>
                        <td>{{ book.genre|e }}</td>
                        <td>{{ book.year|e }}</td>
                        <td>
                            <a data-link-atr="/view/{{book.id}}" alt="view" class="btn btn-info btn-view_book">View</a>
                            <a data-link-atr="/edit/{{book.id}}" alt="edit" class="btn btn-warning btn-edit_book">Edit</a>
                            <a data-link-atr="/delete/{{book.id}}" alt="delete" class="btn btn-danger btn-delete_book">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/add" class="btn btn-primary btn-lg btn-block new-book">New BOOK</a>
        </div>
    </div>
</div>
